.customize {
    background: url('../assets/customize/custom1a.jpg') no-repeat center 10%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    align-content: space-between;
}

.customizevideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}