.header {
    height: fit-content;
    align-items: center;
    position: fixed;
    z-index: 2;
    top: 1vh;
}

@media only screen and (max-width: 600px) {
    .rightSide {
        justify-content: flex-end;
    }
}