.logo {
    /* padding-left: 5vw;
    padding-top: 5vh;
    cursor: pointer;
    display: inline-block; */
    /* max-width: 50%; */
    height: 10vh;
    background: url('../assets/laydeezlogowebmin.png') no-repeat center;
    background-size: contain;
    cursor: pointer;
}

/* .logoImg {
    width: 100%;
} */