.playtoearn {
    background: url('../assets/playtoearn/playtoearn2.jpg') no-repeat center 10%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    align-content: space-between;
    position: relative;
    display: grid;
    grid-template-columns: 5vw 1fr 1fr;
    grid-template-rows: 15vh 1fr 4vh;
}

@media only screen and (max-width: 600px) {
    .playtoearn {
        background: url('../assets/playtoearn/playtoearn2mob.jpg') no-repeat center 10%;
        grid-template-columns: 3vw 1fr 3vw;
        grid-template-rows: 7vh 1fr 4vh;
        background-size: cover;
    }
}