.test {
    /* background: url('assets/transition1.png') no-repeat center;
    background-size: contain; */
    object-fit: contain;
    position: absolute;
    /* display: none; */
    width: calc(100vw + calc(40*var(--step-4)));
    height: calc(100vw + calc(40*var(--step-4)));
    top: 200vh;
    left: -300vw;
    z-index: 10;
}

.testActive {
    /* animation-duration: 10.5s;
    animation-name: slidein;
    animation-fill-mode: none; */
    display: block;
    transform: translate(500vw, -500vw);
    transition: 5s;
}