.smlinks {
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 0.5rem;
    display: flex;
    justify-content: flex-end;
}

.smlinks li {
    padding: 0 0.3vw;
    color: white;
}

.small {
    justify-content: center!important;
    width: 100%;
}

.whitepaper {
    width: fit-content;
    padding-right: 2vw;
}

@media only screen and (max-width: 600px) {
    .smlinks {
        padding-right: 3vw;
    }
    
    .small {
        display: inherit!important;
    }

    .whitepaper {
        padding-right: 2vw;
    }
    
}