.smlink {
    cursor: pointer;
}

.smlink:hover {
    transform: translate(0, -0.5vh);
    transition: 0.1s;
}

.smlink li img {
    filter: invert(1);
    width: 2.5vw;
    width: var(--step-0);
}

.small {
    width: 1.2vw!important;
    filter: invert(1) !important;
}

.purple {
    filter: invert(9%) sepia(65%) saturate(5994%) hue-rotate(276deg) brightness(84%) contrast(98%) !important;
}

/* .large {
    width: 10vw!important;
} */

@media only screen and (max-width: 600px) {
    .small {
        width: 4vw!important;
    }
}

@media only screen and (max-width: 900px) {
    .small {
        width: 3vw!important;
    }
}

@media only screen and (min-width: 2500px) {
    .smlink li img {
        width: calc(1vw + var(--step-1));
    }
}