.smlink {
    cursor: pointer;
}

.smlink:hover {
    transform: translate(0, -0.5vh);
    transition: 0.1s;
}

.smlink li img {
    filter: invert(1);
    width: 2vw;
}

.small {
    width: 1.2vw!important;
    filter: invert(63%) sepia(40%) saturate(4324%) hue-rotate(183deg) brightness(98%) contrast(97%) !important;
}