* {
    text-align: center;
}

.cardContainer {
    border-radius: 10px;
    box-shadow: 0px 20px 10px 0px rgba(66, 68, 90, 0.1);
    height: 25vh;
}

.card {
    background-color: rgb(80, 232, 0);
    border-radius: 10px;
    box-shadow: 0px 10px rgb(51, 146, 0);
    padding: 0;
    margin-bottom: 0;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1.2fr 1fr 1fr 0.7fr;
    height: 25vh;
}

.cardColor0 {
    background-color: #fb60d5;
    box-shadow: 0px 7px #ce469f;
}
.cardColor1 {
    background-color: #fff87f;
    box-shadow: 0px 7px #d2c85b;
}
.cardColor2 {
    background-color: #0fe0e7;
    box-shadow: 0px 7px #0cabb3;
}
.cardColor3 {
    background-color: #2eda87;
    box-shadow: 0px 7px #21a661;
}

.card h3 {
    color: white;
    font-size: 1.5rem;
    font-weight: 100;
    font-family: deeznuts, genty, roboto;
    letter-spacing: 0.1rem;
    grid-column: 1/2;
    grid-row: 2/3;
}

.cardColor1 h3 {
    color: #52107a;
}

.card span {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 2vh;
    grid-column: 1/2;
    grid-row: 3/4;
}

.cardColor1 span {
    color: #52107a;
}

.smLinksDiv {
    grid-column: 1/2;
    grid-row: 4/5;
}

.smLinksDiv ul {
    display: flex!important;
    justify-content: center!important;
}

.avatar {
    height: 16vh;
    object-fit: cover;
    position: absolute;
    top: -45%;
    left: 50%;
    transform: translate(-50%, 0);
}

@media only screen and (min-width: 3000px) {
    .card h3 {
        font-size: 2.5rem;
    }
    .card span {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 1000px) {
    .card h3 {
        font-size: 1.2rem;
    }
    .card span {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 600px) {
    .card {
        grid-auto-rows: 1.4fr 1fr 0.5fr 0.5fr;
        height: 20vh;
    }
    .card h3 {
        font-size: 1.2rem;
    }
    .card span {
        font-size: 0.6rem;
    }
}