.team {
    background: url('../assets/team/teamback1a.jpg') no-repeat center 10%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    scroll-snap-align: start;
    align-items: flex-end;
    /* align-content: space-between; */
    position: relative;
}

.teamheader {
    height: 9vh;
    width: 100%;
    object-fit: contain;
}

.aboutus {
    width: 78.5vw;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.aboutus h2 {
    background: rgb(73, 79, 157);
    margin: 0;
    padding: 2vw;
    font-size: 2.2rem;
    font-weight: 900;
    border-radius: 10px 0 0 10px;
    text-transform: uppercase;
    text-align: left;
}

.aboutus p {
    background: rgba(73, 79, 157, 0.5);
    margin: 0;
    padding: 2vw;
    font-size: 1.1rem;
    letter-spacing: 0.02rem;
    text-align: justify;
    border-radius: 0 10px 10px 0;
}

.cards {
    width: 80vw;
    margin-bottom: 3vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 12vh;
    /* overflow: inherit!important;
    overflow-x: hidden!important; */
}

.cardList {
    color: black;
}

.card {
    padding: 1vh 0.7vw;
    position: relative;
    z-index: 5;
}

@media only screen and (max-width: 600px) {
    .teamheader {
        height: 4vh;
        padding-top: 5vh;
    }
    .aboutus h2 {
        font-size: 1.5rem;
        display: none;
    }
    .aboutus p {
        font-size: 0.8rem;
        padding: 4vw;
        border-radius: 10px;
    }
}

@media only screen and (min-width: 1500px) {
    .aboutus h2 {
        font-size: 3rem;
    }
    .aboutus p {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 3000px) {
    .aboutus h2 {
        font-size: 4rem;
    }
    .aboutus p {
        font-size: 2.5rem;
    }
}