* {
    text-align: center;
}

.card {
    background-color: rgb(80, 232, 0);
    border-radius: 10px;
    padding: 2vh 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 25vh;
}

.card h3 {
    color: rgb(255, 191,  33);
    font-size: 2rem;
    font-weight: 100;
    font-family: genty;
    letter-spacing: 0.1rem;
}

.card span {
    font-size: 1rem;
    font-weight: 800;
    padding-bottom: 2vh;
}

.avatar {
    height: 20vh;
    object-fit: cover;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, 0);
}

@media only screen and (max-width: 1000px) {
    .card h3 {
        font-size: 1.2rem;
    }
    .card span {
        font-size: 0.8rem;
    }
    .avatar {
        height: 20vh;
        /* left: 27%; */
    }
}

@media only screen and (max-width: 600px) {
    .card h3 {
        font-size: 1.2rem;
    }
    .card span {
        font-size: 0.6rem;
    }
    .avatar {
        height: 20vh;
        /* left: 27%; */
    }
}