.app {
    background-color: rgb(91, 196, 233);
    color: white;
    /* width: 100vw; */
    height: 100vh;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;

}

.openMenu {
    transform: scale(0.8);
    transform-origin: 0 50%;
    transition: 0.2s;
    /* position: absolute;
    left: 0;
    top: 0; */
}

.closeMenu {
    transform: scale(1);
    transition: 0.2s;
}

.mycontainer {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.page {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-auto-flow: column;
    width: 600%;
    height: 100%;
}

@media (max-width:700px) {
    .page {
        grid-auto-flow: row;
    }
}