a {
  text-decoration: none;
  color: white;
}

.react-multiple-carousel__arrow {
  background: rgba(0,0,0,0.15);
  /* top: 18%; */
  /* position: fixed; */
  z-index: 5;
}

.react-multiple-carousel__arrow--left {
  left: 0
}

.react-multiple-carousel__arrow--right {
  right: 0
}