/* .mycontainer {
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
  overflow-y: scroll;
} */

/* ::-webkit-scrollbar {
  width: 0px;
} */

/* h1 {
  margin: 0;
} */

a {
  text-decoration: none;
  color: white;
}