.app {
    background-color: rgb(91, 196, 233);
    color: white;
    /* width: 100vw; */
    height: 100vh;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

.openMenu {
    transform: scale(0.8);
    transform-origin: 0 50%;
    transition: 0.2s;
    /* position: absolute;
    left: 0;
    top: 0; */
}

.closeMenu {
    /* transform: scale(1); */
    transition: 0.2s;
}

.mycontainer {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    position: relative;
}

.test {
    /* background: url('assets/transition1.png') no-repeat center;
    background-size: contain; */
    object-fit: contain;
    position: absolute;
    /* display: none; */
    width: calc(100vw + calc(40*var(--step-4)));
    height: calc(100vw + calc(40*var(--step-4)));
    top: 200vh;
    left: -300vw;
    z-index: 10;
}

.testActive {
    /* animation-duration: 10.5s;
    animation-name: slidein;
    animation-fill-mode: none; */
    display: block;
    transform: translate(500vw, -500vw);
    transition: 2s;
    transition-timing-function: ease-out;
}

.page {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-auto-flow: column;
    width: 600%;
    height: 100%;
}

@media (max-device-width: 700px) {
    .page {
        grid-auto-flow: row;
    }
}

@media only screen and (max-width: 1000px) {
    .test {
        width: calc(200vw + calc(40*var(--step-4)));
        height: calc(200vw + calc(40*var(--step-4)));
        left: -450vw;
        top: 100vh;
    }
}

@media only screen and (max-width: 600px) {
    .test {
        width: calc(120vw + calc(50*var(--step-4)));
        height: calc(120vw + calc(50*var(--step-4)));
        left: -450vw;
        top: 100vh;
    }
}